<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" class="no-js" xmlns:th="http://www.thymeleaf.org"  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Nanumoa</title>

    <link rel="stylesheet" th:href="@{/stylesheets/style.css}">
    <link rel="stylesheet" th:href="@{/stylesheets/skins/blue.css}">
    <link rel="stylesheet" th:href="@{/stylesheets/responsive.css}">

    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>

<body>
<!-- HIDDEN PANEL
================================================== -->
<div id="panel">
    <div class="row">
        <div class="twelve columns">
            <img src="http://www.wowthemes.net/demo/studiofrancesca/images/info.png" class="pics" alt="info">
            <div class="infotext">
                Thank you for visiting my theme! Replace this with your message to visitors.
            </div>
        </div>
    </div>
</div>
<p class="slide">
    <a href="#" class="btn-slide"></a>
</p>
<!-- HEADER
================================================== -->
<div class="row">
    <div class="headerlogo four columns">
        <div class="logo">
            <a th:href="@{/}">
                <img th:src="@{/i/nanumoa.png}" style="width:365px; height:75px;  margin: -30px 0 -30px -20px;">
            </a>
        </div>
    </div>
    <div class="headermenu eight columns noleftmarg">
        <nav id="nav-wrap">
            <ul id="main-menu" class="nav-bar sf-menu" style="font-weight: bolder;">
                <li class="current">
                    <a th:href="@{/}">Home</a>
                </li>
                <li class="current">
                    <a href="#">기업소개</a>
                    <ul>
                        <li><a th:href="@{/about}">소개 및 인사말</a></li>
                        <li><a th:href="@{/services}">주요 뉴스</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">농장주</a>
                    <ul>
                        <li><a th:href="@{/farmer1}">사람 구하기</a></li>
                        <li><a th:href="@{/farmer2}">농장주 지원</a></li>
                        <li><a th:href="@{/farmer3}">온라인 농업 기초 교육</a></li>

                    </ul>
                </li>
                <li>
                    <a href="#">이주노동자</a>
                    <ul>
                        <li><a th:href="@{/migrant1}">일하기</a></li>
                        <li><a th:href="@{/migrant2}">이주 여성 지원</a></li>
                        <li><a th:href="@{/migrant3}">이주민 농업 기초 교육</a></li>

                    </ul>
                </li>
                <li>
                    <a href="#">모드니로</a>
                    <ul>
                        <li><a th:href="@{/many/find}">자주 찾는 일의 종류</a></li>
                        <li><a th:href="@{/elements}">투자자 문의</a></li>
                        <li><a th:href="@{/typography}">사업자 문의</a></li>
                    </ul>
                </li>
                <li>
                    <a th:href="@{/help}">고객문의</a>
                </li>
                <!--                    <li>-->
                <!--                        <span sec:authentication="name"></span>님 환영합니다.-->
                <!--                    </li>-->
                <li sec:authorize="isAnonymous()">
                    <a th:href="@{/login}">
                        <button class="login button">로그인</button>
                    </a>
                </li>
                <li sec:authorize="isAuthenticated()">
                    <form id="logout" action="/logout" method="POST">
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                        <input type="submit" class="login button" value="로그아웃"/>
                    </form>
                </li>

            </ul>
        </nav>
    </div>
</div>

<div class="clear">
</div>
    <!-- SUBHEADER
================================================== -->
    <div id="subheader">
        <div class="row">
            <div class="twelve columns">
                <p class="left">
                    PROJECT DETAIL
                </p>
                <p class="right">
                    <a href="portofolio2.html">View more projects</a>
                </p>
            </div>
        </div>
    </div>
    <div class="hr">
    </div>
    <!-- CONTENT
================================================== -->
    <div class="row">
        <!-- PROJECT DESCRIPTION-->
        <div class="six columns">
            <div class="sectiontitle">
                <h4>Project name</h4>
            </div>
            <p>
                Phasellus nec nibh id arcu pharetra blandit. Nullam mollis, lacus nec lacinia porttitor, odio eros laoreet nibh, at scelerisque magna justo eu turpis. Duis sed risus sit amet nunc cursus suscipit. Duis sed est turpis. Sed imperdiet elit eget massa consectetur
                sit amet rhoncus purus sagittis. Ut vitae nulla tempus erat accumsan porta a ut turpis. Suspendisse pharetra sagittis tellus, eu viverra neque molestie id.
            </p>
            <dl class="tabs">
                <dd class="active"><a href="#simple1">Features</a></dd>
                <dd><a href="#simple2">What we did</a></dd>
                <dd><a href="#simple3">Client's Feedback</a></dd>
            </dl>
            <ul class="tabs-content">
                <li class="active" id="simple1Tab">
                    <p>
                        Et non ex maxima parte de tota iudicabis? Item de contrariis, a quibus ad genera formasque generum venerunt. Sit enim idem caecus, debilis. Duo Reges: constructio interrete. Nulla tempus erat accumsan.
                    </p>
                    <div class="six columns noleftmargin">
                        <p>
                            <img src="http://www.wowthemes.net/demo/studiofrancesca/images/check.png" alt=""><b>consectetur adipiscing</b>
                        </p>
                        <p>
                            <img src="http://www.wowthemes.net/demo/studiofrancesca/images/check.png" alt=""><b>maxima parte</b>
                        </p>
                    </div>
                    <div class="six columns">
                        <p>
                            <img src="http://www.wowthemes.net/demo/studiofrancesca/images/check.png" alt=""><b>genera formasque</b>
                        </p>
                        <p>
                            <img src="http://www.wowthemes.net/demo/studiofrancesca/images/check.png" alt=""><b>quibus ad genera</b>
                        </p>
                    </div>
                </li>
                <li id="simple2Tab">
                    <p>
                        Consectetur adipiscing elit. Et non ex maxima parte de tota iudicabis? Item de contrariis, a quibus ad genera formasque generum.
                    </p>
                    <p>
                        <img src="http://www.wowthemes.net/demo/studiofrancesca/images/check.png" alt=""> genera formasque
                    </p>
                    <p>
                        <img src="http://www.wowthemes.net/demo/studiofrancesca/images/check.png" alt=""> quibus ad genera
                    </p>
                    <p>
                        Et non ex maxima parte de tota iudicabis? Item de contrariis, a quibus ad genera formasque generum venerunt. Sit enim idem caecus, debilis. Duo Reges: constructio interrete.
                    </p>
                </li>
                <li id="simple3Tab">
                    <p>
                        <i>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et non ex maxima parte de tota iudicabis? Item de contrariis, a quibus ad genera formasque generum."</i>
                    </p>
                    <p>
                        <i>"Adipiscing elit. Et non ex maxima parte de tota iudicabis? Item de contrariis, a quibus ad genera formasque generum."</i>
                    </p>
                </li>
            </ul>
        </div>
        <!-- end main content-->
        <!-- SLIDER-->
        <div class="six columns">
            <div class="slider-wrapper theme-default">
                <div id="slider" class="nivoSlider detailslider">
                    <img src="http://www.wowthemes.net/demo/studiofrancesca/images/temp/nivo3.jpg" data-thumb="" alt="" />
                    <img src="http://www.wowthemes.net/demo/studiofrancesca/images/temp/nivo1.jpg" data-thumb="" alt="" />
                </div>
            </div>
        </div>
        <!-- end sliderr-->
    </div>
    <div class="hr">
    </div>

    <!-- FOOOTER
================================================== -->
    <div id="footer">
        <footer class="row">
            <p class="back-top floatright">
                <a href="#top"><span></span></a>
            </p>
            <div class="four columns">
                <h1>ABOUT US</h1>
                Our goal is to keep clients satisfied!
            </div>
            <div class="four columns">
                <h1>GET SOCIAL</h1>
                <a class="social facebook" href="#"></a>
                <a class="social twitter" href="#"></a>
                <a class="social deviantart" href="#"></a>
                <a class="social flickr" href="#"></a>
                <a class="social dribbble" href="#"></a>
            </div>
            <div class="four columns">
                <h1 class="newsmargin">NEWSLETTER</h1>
                <div class="row collapse newsletter floatright">
                    <div class="ten mobile-three columns">
                        <input type="text" class="nomargin" placeholder="Enter your e-mail address...">
                    </div>
                    <div class="two mobile-one columns">
                        <a href="#" class="postfix button expand">GO</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <div class="copyright">
        <div class="row">
            <div class="six columns">
                &copy;<span class="small"> Copyright 2015 Your Agency Name</span>
            </div>
            <div class="six columns">
                <span class="small floatright"> "Studio Francesca" - WowThemes.net</span>
            </div>
        </div>
    </div>
    <!-- JAVASCRIPTS
================================================== -->
    <!-- Javascript files placed here for faster loading -->
    <!-- Javascript files placed here for faster loading -->
    <script src="../static/javascripts/foundation.min.js"></script>
    <script src="../static/javascripts/jquery.cycle.js"></script>
    <script src="../static/javascripts/app.js"></script>
    <script src="../static/javascripts/modernizr.foundation.js"></script>
    <script src="../static/javascripts/slidepanel.js"></script>
    <script src="../static/javascripts/scrolltotop.js"></script>
    <script src="../static/javascripts/hoverIntent.js"></script>
    <script src="../static/javascripts/superfish.js"></script>
    <script src="../static/javascripts/responsivemenu.js"></script>
    <script src="../static/javascripts/elasticslideshow.js"></script>
</body>

</html>
